parameters:
    level: 8
    treatPhpDocTypesAsCertain: false
    inferPrivatePropertyTypeFromConstructor: true
    reportUnmatchedIgnoredErrors: true # Could be set to false if necessary during PHPStan update
    paths:
        - src
        - tests
    tmpDir: /tmp/phpstan

    ignoreErrors:
        -
            identifier: missingType.iterableValue
        -
            identifier: missingType.generics
        -
            message: '#Unsafe usage of new static\(\)#'
            path: src/Data/Collection.php


